HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
**/.idea/

*.iws
*.iml
*.ipr

# User-specific IDEA files
**/workspace.xml
**/tasks.xml
**/shelf/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ENV ###
.env
.env.*

### FULL CODE ###
full_backend_code.txt

### OTHER ###
uploads/profile-images

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.temp
*.swp
